<button type="button" class="btn btn-info btn" data-toggle="collapse" data-target="#addReceivedAmountModal">Lisää tuote-erä</button>

<!-- Modal -->

<div id="addReceivedAmountModal" class="collapse out">

  <form class="form-horizontal">
    <div class="form-group">
      <label class="container" for="name">Tuotteen hinta:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="name" [(ngModel)]="newShipment.price" name="name">
      </div>
    </div>

    <div class="form-group">
      <label class="container" for="name">Päivämäärä:</label>
      <div class="col-sm-5">
        <input type="date" class="form-control" id="name" [(ngModel)]="newShipment.date" name="name">
      </div>
    </div>

    <!--
    <div class="form-group">
      <label class="container" for="name">Vanhenemispäivä:</label>
      <div class="col-sm-5">
        <input type="date" class="form-control" id="name" [(ngModel)]="newShipment.expireDate" name="name">
      </div>
    </div>-->

    <div class="form-group">
      <label class="container" for="name">Toimittaja:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="name" [(ngModel)]="newShipment.vendorName" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="container" for="name">Määrä:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="name" [(ngModel)]="newShipment.UnitStock" name="name">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-2">
        <button type="reset" class="btn btn-info" (click)="submitReceivedAmount()">Lähetä tiedot</button>
      </div>
    </div>
  </form>

  <p>Productid: {{productId3}}</p>
</div>
