
.productgroups {
  margin: auto;
  list-style-type: none;
  height: auto;
  width: 15em;
}
.productgroups li {
  cursor: pointer;
  text-align: center;
  left: 0;
  background-color: #E4FAED;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.productgroups li:hover {
  background-color: #40C50B;
  left: .1em;
}

.container {
  color: black;
  font-size: medium;
}

