
.btn
{
margin-left:-200px;
margin-top:500px;
}

label.container { 
  color: #151516 ;
 }

input.form-control {
  width: 250px;
}
.form-group{ 
  width: 250px;
}

.form-horizontal{ 
background-color: #78BCF8 ;
}