
.btn
{
margin-left:-200px;
margin-top:500px;
}

label.container { 
  color: #151516 ;
 }

input.form-control {
  width: 550px;
}
.form-group{ 
  width: 250px;
}
/*
.form-horizontal{ 
background-color: #78BCF8 ;
}
*/
.form-horizontal {    
  background-color: rgb(186, 222, 253) ;
  border: 1px solid #0E0D0D;
  Height: auto;
}

.container {
  float: right;
  width: 80%;
  height: auto;
}

.container .container {
  width: 100%;
  font-size: 20px;
  color: black;
}



.btn-success {
  margin-left: 5px;
  margin-top: 50px;
}