
.btn
{
margin-left:-200px;
margin-top:500px;
}

label.container { 
  color: #151516 ;
  width: auto;
 }

input.form-control {
  width: 550px;
  margin-left: 10px;
}
.form-group{ 
  width: 550px;
}
/*
.form-horizontal{ 
background-color: #78BCF8 ;
}
*/
.form-horizontal {    
  background-color: rgb(186, 222, 253) ;
  border: 1px solid #0E0D0D;
  Height: auto;
}

.container {
  float: right;
  width: 80%;
  height: auto;
}

.container .container {
  width: 100%;
  font-size: 20px;
  color: black;
}



.btn {
  margin-left: 5px;
  
}


.modal-dialog {
  background-color: #5A5353;
  
  width: 600px;

}
.modal-header {
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #0480be;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.btn-info {
  margin-top:auto;
}